<div class="row">  
    <div class="col-md-2">

      <div class="dev-detail clearfix">
        {{#link-to 'user' model}}
          <img class="dev-photo" {{bind-attr src=model.avatar_url}} alt="">
        {{/link-to}}
        
        <h4>
          {{#link-to 'user' model}}
            {{model.name}}
          {{/link-to}}
          <br>
          <small>{{model.company}}</small>
          <br>
          <small>{{model.location}}</small>
          <br>
          <small>{{model.email}}</small>
        </h4>

      </div>
      
      <div class="dev-links small">
        <a href="#">Followers<span class="badge">{{model.followers}}</span></a>
        <a href="#">Repos<span class="badge">{{model.public_repos}}</span></a>
        <a href="#">Gists<span class="badge">{{model.public_gists}}</span></a>
      </div>

    </div>

</div>
{{outlet}}
